<article class="post">
  <div>
    <a class="title" href="/post/{{id}}">{{title}}</a>
    <a class="author"> by {{user.username}} on {{format_date created_at}} </a>
    <br>
    <span>{{post_preview}}</span>
  </div>
  <div class="meta">
    {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
  </div>
</article>