<article class="post">
  <div class="title">
    <a href="/post/{{id}}">{{title}}</a>
    <a class="author"> by {{user.username}}</a>
    <br>
    <span>{{post_preview}}</span>
  </div>
  <div class="meta">
    {{!-- <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a> --}}
  </div>
</article>